{% extends 'base.html' %}

{% load crispy_forms_tags %}

{% block content %}
<div class="container d-flex align-items-center justify-content-center">
  <div class="col-6">
    <form method="POST">
      {% csrf_token %}
      <fieldset class='form-group'>
        <legend class='border-bottom mb-4'>Delete Post</legend>
        <h2>Are you sure want to delete the post - '{{ object.title }}'</h2>
      </fieldset>
      <button class='btn btn-outline-danger' type="submit">Yes, Delete</button>
      <a class='btn btn-outline-secondary' href="{% url "article" object.id %}">Cancel</a>
    </form>
  </div>
</div>
{% endblock %}
